.booking-info-admin table {
  border-collapse: collapse;
}
.booking-info-admin{
  justify-items: center;
}

.booking-info-admin table tr td,
.booking-info-admin table tr th {
  border: 1px solid black;
  padding: 8px;
}
.nav-admin {
  display: flex;
  gap: 10px;
  padding: 15px;
  justify-content: center;
}